@import "tailwindcss";
@plugin "@iconify/tailwind4";


html {
    scroll-behavior: smooth;
  }

  @keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 25s linear infinite;
}
